html,
body {
    font-family: $font-1;
    font-weight: 400;
    font-size: 16px;
    line-height: (24/16);
    color: $color-1;
}

html,
body {
    height: auto;
    min-height: 100vh;
}

img,
video,
svg {
    max-width: 100%;
    height: auto;
}

button,
a,
[class*="button"],
[class*="btn"],
[class*="link"] {
    cursor: pointer;
}

// .img-box {
//     display: block;

//     img {
//         @include object-fit(cover);
//     }
// }

/* visually-hidden helper */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
