//grid
$xxsm: 374px;
$xsm: 459px;
$sm: 639px;
$md: 767px;
$lg: 1023px;
$xl: 1199px;
$xxl: 1399px;

//fonts
$font-1: "OpenSans", Helvetica, Tahoma, Arial, sans-serif;
$font-2: "Montserrat", Helvetica, Tahoma, Arial, sans-serif;

//colors
$color-1: #000;
$color-2: #fff;
$color-3: #3e4056; // main text color
$color-4: #f05d63; // accent text color
$color-5: #ed5267; // accent backgound color
$color-6: #f2f2f2; // background color
$color-7: #3e3f58; // text color using in user details block
$color-8: #ecf1f8; // hover dropdown item bacground
$color-9: #b2b3bb; // using for background author avatar in feed card

// timing
$time-sm: 300ms;
$time-md: 500ms;
$time-lg: 800ms;
$time-xl: 1100ms;
