.header {
    position: relative;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    min-height: 112px;
    padding-top: 20px;
    background-color: $color-2;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.06);

    &__top {
        display: flex;
        min-height: 33px;
        margin-bottom: 17px;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        width: 50px;
    }

    &__active-btn-wrap {
        position: relative;
        width: 100%;
    }

    &__active-btn {
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translateY(50%);
    }
}
