<ul class="feed-list">
    <li class="feed-list__item">
        <div class="feed-card">
            <a href="" class="feed-card__link">
                <p class="feed-card__text">New air routes that promise cheap flights in</p>
            </a>
            <div class="feed-card__bottom-info">
                <a href="">
                    <div class="feed-card__author">
                        <div class="feed-author">
                            <div class="feed-author__avatar">

                            </div>
                            <div class="feed-author__name">Gregory Watkins</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </li>
    <li class="feed-list__item">
        <div class="feed-card">
            <a href="" class="feed-card__link">
                <p class="feed-card__text">New air routes that promise cheap flights in</p>
            </a>
            <div class="feed-card__bottom-info">
                <a href="">
                    <div class="feed-card__author">
                        <div class="feed-author">
                            <div class="feed-author__avatar">

                            </div>
                            <div class="feed-author__name">Gregory Watkins</div>
                        </div>
                    </div>
                </a>
                <div class="button button_pink button_share"><span>Share</span></div>
            </div>
        </div>
    </li>
    <li class="feed-list__item">
        <div class="feed-card">
            <div class="feed-card__top-info">
                <div class="shared-block">
                    <div class="shared">Shared to</div>
                    <a href="" class="hashtag">#discussionaboutanimgttdds</a>
                </div>
            </div>
            <a href="" class="feed-card__link">
                <p class="feed-card__text">New air routes that promise cheap flights in</p>
            </a>
            <div class="feed-card__bottom-info">
                <a href="">
                    <div class="feed-author">
                        <div class="feed-author__avatar">
                            <!-- <img width="24" height="24" src="" alt=""> -->
                        </div>
                        <div class="feed-author__name">Gregory Watkins</div>
                    </div>
                </a>
                <ul class="stats">
                    <li class="status stats__item">
                        <span class="status__icon">
                            <!-- {% include 'icons/view.svg.twig' %} -->
                            <img width="16" height="16" src="../../img/icons/view.svg" alt="">
                        </span>
                        <span class="status__value">88</span>
                    </li>
                    <li class="status stats__item">
                        <span class="status__icon">
                            <!-- {% include 'icons/like.svg.twig' %} -->
                            <img width="16" height="16" src="../../img/icons/like.svg" alt="">
                        </span>
                        <span class="status__value">16</span>
                    </li>
                </ul>
            </div>
        </div>
    </li>
    <li class="feed-list__item">
        <div class="feed-card">
            <div class="feed-card__top-info">
                <div class="shared-block">
                    <div class="shared">
                        <a class="shared__weblink" href="">
                            <span class="weblink-icon">
                                <img src="../../img/icons/weblink.png" alt="">
                            </span>
                            Shared via weblink
                        </a>
                    </div>
                </div>
            </div>
            <a href="" class="feed-card__link">
                <p class="feed-card__text">New air routes that promise cheap flights in</p>
            </a>
            <div class="feed-card__bottom-info">
                <a href="">
                    <div class="feed-author">
                        <div class="feed-author__avatar">
                            <!-- <img width="24" height="24" src="" alt=""> -->
                        </div>
                        <div class="feed-author__name">Gregory Watkins</div>
                    </div>
                </a>
                <ul class="stats">
                    <li class="status stats__item">
                        <span class="status__icon">
                            <!-- {% include 'icons/view.svg.twig' %} -->
                            <img width="16" height="16" src="../../img/icons/view.svg" alt="">
                        </span>
                        <span class="status__value">88</span>
                    </li>
                    <li class="status stats__item">
                        <span class="status__icon">
                            <!-- {% include 'icons/like.svg.twig' %} -->
                            <img width="16" height="16" src="../../img/icons/like.svg" alt="">
                        </span>
                        <span class="status__value">16</span>
                    </li>
                </ul>
            </div>
        </div>
    </li>
</ul>