<ul class="nav">
    <li class="nav__item">
        <a class="nav__link" href="">Feed</a>
    </li>
    <li class="nav__item">
        <a class="nav__link" href="">Explore</a>
    </li>
    <li class="nav__item">
        <a class="nav__link" href="">Disscussions</a>
    </li>
</ul>