<ul class="profile-icons">
    <li class="profile-icons__icon">
        {% include 'icons/notifications.svg.twig' %}
    </li>
    <li class="profile-icons__icon">
        {% include 'icons/share-recap.svg.twig' %}
    </li>
    <li class="profile-icons__icon">
        {% include 'icons/medium.svg.twig' %}
    </li>
</ul>