<div class="profile">
    <div class="profile__user">
        {% include 'components/profile-user.twig' %}
    </div>
    <div class="profile__icons">
        {% include 'components/profile-icons.twig' %}
    </div>
</div>