{% import "mixins/_buttons.twig" as button %}

<!doctype html>
<html lang="en">

{% include "./_head.twig" %}

<body data-page-name="{{ pageName }}">
{% include "blocks/_header.twig" %}

{% block content %}{% endblock %}

{#{% include "blocks/_svg-defs.twig" %}#}

<script src="/js/app.js"></script>

</body>
</html>
