.dropdown-content {
    position: relative;
    z-index: 100;
    min-width: 176px;
    padding: 24px 0;
    border-radius: 8px;
    background: $color-2;
    overflow: hidden;
    opacity: 0.94;
    @include media($xsm) {
        padding: 15px 0;
    }

    &:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        display: block;
        // background: rgba(0, 0, 0, 0.0001);
        box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.12);
        border-radius: 8px;
        content: "";
    }

    &__item {
        display: flex;
        padding: 9px 26px 9px 23px;
        align-items: center;
        font-size: 16px;
        line-height: (22/16);
        transition: background $time-sm ease-in-out;
        cursor: pointer;
        @include mobile {
            padding: 9px 20px 9px 20px;
        }

        &:hover {
            background-color: $color-8;
        }
    }

    &__btn {
        display: inherit;
        align-items: inherit;
    }

    &__icon {
        display: flex;
        margin-right: 16px;
    }
}
