.switch {
    &__control {
        position: relative;
        z-index: 0;
        display: block;
        width: 40px;
        height: 24px;
        border-radius: 50px;
        background: $color-5;
        cursor: pointer;
        transition: $time-sm;
        @include media($lg + 1) {
            width: 70px;
            height: 40px;
        }

        &:before {
            content: "";
            position: absolute;
            top: 3px;
            left: 3px;
            display: inline-block;
            height: 18px;
            width: 18px;
            border-radius: 50%;
            background: $color-2;
            transition: $time-sm;
            @include media($lg + 1) {
                top: 4px;
                left: 4px;
                height: 32px;
                width: 32px;
            }
        }

        &:after {
            content: "";
            display: inline-block;
            display: none;
            position: absolute;
            left: 11px;
            top: 11px;
            height: 18px;
            width: 18px;
            border-radius: 50%;
            transition: $time-sm;
            @include media($lg + 1) {
                left: 34px;
            }
        }
    }

    // input:checked + &__control {
    //     background: $color-5;
    // }

    &__checkbox {
        display: none;

        &:checked + .switch__control:before {
            content: "";
            position: absolute;
            left: 19px;
            border-radius: 50%;
            @include media($lg + 1) {
                left: 34px;
            }
        }
    }
}
